/*
	Plugin	: jQuery UI Accordion
	Author	: Michael Janea (www.michaeljanea.com)
	Version	: 1.6
*/

#juiAccordion {}
	#juiAccordion_Container {height:350px; overflow:auto; margin-bottom:1em;}
	#juiAccordion table {width:100%; border-collapse:collapse;}
	#juiAccordion th, #juiAccordion td {padding:.5em;}
	#juiAccordion th {font-weight:bold;}
	#juiAccordion td {vertical-align:top;}
	#juiAccordion input[type=text], #juiAccordion textarea {padding:.3em; border:1px solid #ddd; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); background:rgba(0, 0, 0, .01); outline:none;}
	#juiAccordion input[type=text]:focus, #juiAccordion textarea:focus {border:1px solid #139ff7;}
	#juiAccordion input[type=text] {width:150px;}
	#juiAccordion textarea {resize:none; width:295px; height:100px; white-space:pre-wrap;}
	#juiAccordion .juiAccordion_remove, #juiAccordion .juiAccordion_addNew, #juiAccordion .juiAccordion_up, #juiAccordion .juiAccordion_down, #juiAccordion .juiAccordion_move {font-weight:bold; -webkit-border-radius:3px; border-radius:3px; cursor:pointer;}
	#juiAccordion .juiAccordion_remove {background:#A94442; padding:.3em .5em; color:#fff;}
	#juiAccordion .juiAccordion_remove:hover {text-decoration:none;}
	#juiAccordion .juiAccordion_addNew, #juiAccordion .juiAccordion_up, #juiAccordion .juiAccordion_down, #juiAccordion .juiAccordion_move {float:right; padding:.5em; background:#f3f3f3; border:1px solid #ddd;}
	#juiAccordion .juiAccordion_addNew:hover {text-decoration:underline;}
	#juiAccordion .juiAccordion_up, #juiAccordion .juiAccordion_down {float:none; padding:.13em .4em;}
	#juiAccordion .juiAccordion_move {background:url('../icons/move.png') center center no-repeat #f3f3f3; width:11px; height:9px; cursor:move;}