
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Roborto', Arial,Verdana,sans-serif; padding-bottom: 0; color:#666766; font-weight: 300; font-size: 15px;  
   margin-bottom: 40px; /* Margin bottom to match footer height */ z-index: 1;}
header {position: fixed; width: 100%; z-index: 1;}

a, a:active, a:visited {text-decoration: none!important; color:#666766!important; font-weight: 500; transform: perspective(1px) translateZ(0); padding-bottom:5px;}	
a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #666766;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a:hover:before {right:0;}
b, strong { font-weight: bolder; font-weight: 600;}

.blog-masthead {padding: 300px 0 150px 0;
	-webkit-animation: fadein 3s; 
	-moz-animation: fadein 3s; 
	-ms-animation: fadein 3s; 
	-o-animation: fadein 3s; 
	animation: fadein 3s;
}
.blog-masthead a, .blog-masthead a:active, .blog-masthead a:visited {text-decoration:none; color:#666766; }
.blog-masthead a:hover {color:#000;}

.blog-masthead img { -ms-interpolation-mode: bicubic; border: none; max-width: 100%; height: auto!important; }
.blog-masthead a img { border: none;}

.blog-masthead p { color: #666766; font-size: 15px; font-weight: 300; margin-bottom: 30px;}
.blog-masthead h1, .blog-masthead-h1 { color: #666766; font-family: 'Special Elite', serif; font-size:39px; text-align: left; margin-bottom: 20px; text-transform: uppercase;}
.blog-masthead h2 { color: #666766; font-weight: 500; font-size: 18px; line-height: 150%; padding: 5px 0 5px 0; text-transform:uppercase;}
.blog-masthead h3 { color: #666766; font-weight: 600; font-size: 15px; line-height: 110%; padding: 5px 0 5px 0; }
.blog-masthead h4 { color: #666766; font-size:15px; line-height: 110%; padding: 5px 0px 5px 0px; font-weight: 500; text-transform:uppercase;}
.blog-masthead h5 { color: #666766; font-weight: 500; font-size: 15px; line-height: 110%; padding: 5px 0 5px 0; }
.blog-masthead hr { border-top: 1px dashed #666766;}
.blog-masthead b, .blog-masthead strong {font-weight:600;}

.blog-masthead .disclaimer {padding:10px 0;}
.blog-masthead .disclaimer, .blog-masthead .disclaimer p, .blog-masthead .disclaimer ul li, .blog-masthead .disclaimer ol li { font-size: 12px!important; color:#8aa6b5!important;}

.blog-masthead ul {padding-left: 15px;}
.blog-masthead ul li {padding-left: 16px; margin-bottom: 7px; list-style-type: none;}

.blog-masthead ul li::before {
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    position: relative;    
    color: #666766;
    font-size: 7px;
    margin-top: 0px;
    display: block;
    font-weight: 900;
	left: -25px;    
	top: 17px;
}

.blog-masthead ol li { color:#474747; padding-left: 16px; margin-bottom: 10px; font-size: 17px; font-weight: 500; line-height: 150%;}
.blog-masthead ol li ul {margin-top:10px;}
.blog-masthead ol li ul li {list-style-type:inherit;}
.blog-masthead ol li ul li::before {content:"";}
.blog-masthead ol li p {margin-top:10px;}

.blog-masthead blockquote {font-family: 'Special Elite', serif; font-size:30px; color:#666766;}
.blog-masthead blockquote p { font-family: 'Special Elite', serif; font-size:30px; color:#666766;}

.blog-masthead {min-height:500px;}
.blog-masthead .custom-padding {padding-left: 0px!important; padding-right: 0!important;}
.blog-masthead .grid {width:100%; clear:both;}
.blog-masthead .grid .grid-column {width:42%; float:left;}
.blog-masthead .grid .grid-spacer {width:16%; float:left;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
BACKGROUND GRID
**************************/
.background {position: absolute; top:0; left:0; bottom:0; right:0; height:100%; width:100%; z-index: 0; background: url(../../images/site/bg.jpg);}
.background-grid {height:100%; padding-left: 0!important; padding-right: 0!important;}
.background-grid-border { 
	background-image: url('../../images/site/dotted-lines.gif');
	background-position: right;
	background-repeat: repeat-y;
	background-size:auto;
	display: block;
	height:100%;
	position: relative;
    left: 10px
}

.background .col-sm-1:nth-child(10) .background-grid-border,
.background .col-sm-1:nth-child(11) .background-grid-border,
.background .col-sm-1:nth-child(12) .background-grid-border
	{display: none; visibility: hidden;}

.custom-padding {padding-left:12px!important; padding-right:0!important;}

/**************************
NAVBAR
**************************/
.navbar-custom {padding: 0; display: block!important; height:100%; right:0; left:auto;}
.navbar-custom .container-fluid {display: block!important; padding-left:0!important; padding-right: 0!important;}

.hamburger {padding:0!important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#000!important; width: 26px!important;}
.hamburger:hover {opacity: 1!important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#565756!important; height: 2px!important;}
.hamburger-box:focus {outline:none!important;}
.hamburger-box {width:35px!important;}
.hamburger-inner::before {top: -8px!important;}
.hamburger--collapse .hamburger-inner::after {top: -16px!important;}
.hamburger--collapse.is-active .hamburger-inner::before {top:0!important;}

.nav-item {padding-top:70px;}
.nav-item:hover {background: #666766;
	-webkit-box-shadow: -4px 25px 55px -6px #999;
	-moz-box-shadow: -4px 25px 55px -6px #999;
	box-shadow: -4px 25px 55px -6px #999;
}
.nav-item:hover > a {color:#fff!important; border-bottom:1px solid #c7c7c7;}
.nav-item a:before {background:#c7c7c7!important;}
.nav-item ul li a:before {display: none!important;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#666766; font-weight: 600!important; }
.dropdown-item.active, .dropdown-item:active {background:#565756;}

button:focus {outline: none;}

/**************************
AFFIX
**************************/
.affix {}
.affix .nav-item {padding-top:15px!important;}	
.affix .navbar-panel {padding-top:0px!important;}
.affix header {
	background: rgba(255,255,255,0.70);
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	min-height: 40px;
}
.affix .navbar-logo img {width:48%;}
.affix .navbar-logo {padding:7px 0;}
.affix .btco-hover-menu .collapse ul li:hover> ul {top:55px;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-panel {padding: 70px 0 0 0; }
.navbar-logo {padding: 0; width:100%;}
.navbar-logo img {width:100%; display: block; }

.navbar-logo a:before {display: none!important;}
.logo-desktop {display: block; visibility: visible; height: auto;}
.logo-mobile {display:none; visibility: hidden; height: 0;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE - PANEL - SEO
**************************/
.index-panel-seo {padding:140px 0 0 0;
	-webkit-animation: fadein 3s; 
	-moz-animation: fadein 3s; 
	-ms-animation: fadein 3s; 
	-o-animation: fadein 3s; 
	animation: fadein 3s;
}
.index-panel-seo .container-fluid {padding-left:0!important; padding-right: 0!important;}
.index-panel-seo-txt { padding:80px 0 20px 0; background: url(../../images/site/J.png); background-repeat: no-repeat; background-position: left bottom; background-size: auto 412px; height: 412px; position: relative; top: -20px; left:-25px;}
.index-panel-seo h1 {font-family: 'Special Elite', serif; font-size:39px; color:#666766; line-height: 140%; position:absolute; bottom: 20px; left: 25px;}
.index-panel-seo h1 span {background: url(../../images/site/highlight.png); background-repeat: no-repeat; background-size:cover; background-position: center;}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**************************
HOME PAGE - PANEL - SERVICES
**************************/
.index-services {padding:40px 0 40px 0;
	-webkit-animation: fadein 3s; 
	-moz-animation: fadein 3s; 
	-ms-animation: fadein 3s; 
	-o-animation: fadein 3s; 
	animation: fadein 3s;
}
.index-services h2 a {font-size:15px; font-weight: 600; /*margin-bottom: 20px;*/ min-height: 40px;}
.index-services h2 a::before {display: none; visibility: hidden;}
.index-service {height:100%;}
.index-service p {padding-bottom: 40px;}
.index-service div a {position:absolute; bottom:0;}

/**************************
NAVSIDEBAR
**************************/
.blog-sidebar {padding: 0 0 30px 0;}
.blog-sidebar .list-group {flex-direction: row;}
.blog-sidebar .list-group li {background:none; border:none; padding: 5px;}
.blog-sidebar .list-group li:after {content: "|"; padding-left: 10px;}
.blog-sidebar .list-group li:last-child:after {content: "";}
.blog-sidebar .list-group li a {text-decoration: none!important; color:#666766; font-weight: 500; font-size:15px; transform: perspective(1px) translateZ(0); padding-bottom:5px;}
.blog-sidebar .list-group li a h1 { display:inline-block; color:#666766; font-weight: 500; font-size:15px; text-transform: inherit; font-family:'Roborto', Arial,Verdana,sans-serif; margin-bottom: 0;}
.blog-sidebar .list-group li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 5px;
    right: 100%;
    bottom: 0;
    background: #666766;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.blog-sidebar .list-group li a:hover:before {right:20px;}
.blog-sidebar .list-group li:last-child a:hover:before {right:15px;}
.blog-sidebar .list-group .list-group-item.active {color:#666766;}
.blog-sidebar .list-group .list-group-item.active > a {padding: 5px; background: url(../../images/site/highlight.png); background-repeat: no-repeat; background-size:cover; background-position: center; position: relative; left: -5px;}
.blog-sidebar .list-group-flush:last-child .list-group-item:last-child {padding-bottom: 5px; margin-bottom: 10px;}
.blog-sidebar .list-group-item.active {z-index: auto;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:200px;
    width:100%;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}


/**************************
CONTACT FORM
**************************/
.blog-contact a {font-weight:500;}

#contact-form label {display:none!important;}
#contact-form input, #contact-form textarea {padding: 20px; border: 0.5px solid #666766; border-radius: 0; margin: 30px 0 0 0;}
#contact-form textarea {padding: 10px 20px;}
#contact-form input::placeholder, #contact-form textarea::placeholder {text-transform: uppercase;}
#contact-form .btn-submit {margin-top:30px;}
.fv-plugins-bootstrap .has-danger .fv-plugins-icon {display:none!important;}
.fv-plugins-bootstrap .fv-help-block {font-size: 16px!important;}

.contact-panel {padding:140px 0 0 0;
	-webkit-animation: fadein 3s; 
	-moz-animation: fadein 3s; 
	-ms-animation: fadein 3s; 
	-o-animation: fadein 3s; 
	animation: fadein 3s;
}
.contact-panel .container-fluid {padding-left:0!important; padding-right: 0!important;}
.contact-panel-wrapper { padding:80px 0 20px 0; background: url(../../images/site/J.png); background-repeat: no-repeat; background-position: left bottom; background-size: auto 412px; height: 412px; position: relative; top: -20px; left:-25px;}
.contact-panel-wrapper-txt {position: relative; left:25px; top:20px;}
.contact-panel-wrapper-txt a:hover {color:#000!important;}
.contact-panel-wrapper-txt a:before {display:none;}
.contact-panel-wrapper-txt p {margin-bottom: 30px;}
.contact-panel-img {/*position: relative; top: -60px;*/ margin: auto; text-align: center;}
.contact-panel-img img {/*width:100%;*/ max-width: 100%;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  left:0;	
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here (for sticky footer) */
  text-align: center;
}

.footer .container-fluid {    padding-left: 0!important; padding-right: 0!important;}

#footer-social {color: #A4A49C; margin: 0 auto; padding: 0; text-align: right; font-size: 13px; position: absolute; top:0; right:30px;}
#footer-social div {padding: 15px 0; text-align: center;}
#footer-social i {font-size:23px;}
#footer-social a, #footer-txt a:active {color: #A4A49C; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000!important; text-decoration: none;}

#footer-txt {color: #666766; width:100%; margin: 0 auto; padding: 0; text-align: left; font-size: 10px; text-transform: uppercase; font-weight: 300;}
#footer-txt a, #footer-txt a:active {color: #666766; text-decoration: none; font-size: 10px; padding: 0 6px; font-weight: 300;}
#footer-txt a:first-child {padding-left:0;}
#footer-txt a:hover{ color: #000!important; text-decoration: none;}
#footer-txt a:before {display:none!important;}

.footerContainer {padding: 0;}

#footer-menu {padding:40px 0; position: relative;}
#footer-menu ul { columns: 2; padding-left:0;}
#footer-menu ul li::before {display: none!important}
#footer-menu ul li {list-style-type: none;}
#footer-menu ul .dropdown-toggle::after {display: none!important;}
#footer-menu ul li a {color:#000; font-size:15px; text-transform: uppercase; text-align: left; font-weight: 500;}
#footer-menu ul li a:hover {color:#666766!important;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: 1px solid #999;
  background: rgba(255,255,255,0.95);  
  color: #999; 
  cursor: pointer;
  padding: 5px; 
  border-radius: 0;
  font-size: 18px; 
}

#btnTopPage:hover {color:#fff; background: #999;}

/**************************
TEAMS MODULE
**************************/
.blog-masthead .grid-people .grid-spacer {width:12%; float:left;}
.blog-masthead .grid-people .grid-column-wide {width:64%; float:left;}
.blog-masthead .grid-people .grid-column-narrow {width:24%; float:left;}

.team-name {font-weight: 600; padding-bottom: 30px;}
.team-name span {text-transform: uppercase;}
.team-contact a {font-weight:400;}
.team-contact span {padding-right:5px;}

.team-list p {margin-bottom: 10px;} 
.team-list h2 a {position: relative;} 
.team-list h2 a::before {display: none;}
.blog-masthead h2 a {
    color: #666766;   
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    padding: 5px 0 5px 0;
    text-transform: uppercase;
}

/**************************
INNER PAGES
**************************/
.page-list {padding:10px 0 40px 0;}
.page-list h2 {font-size:15px; font-weight: 600; margin-bottom: 0; text-transform: inherit;}
.page-list h2 span {text-transform: uppercase;}
.page-list {height:100%;}
.page-list p a {padding-bottom: 0px; position: relative!important;}
.page-list p a:before {display: none;}
.page-list a {position: absolute;}
.page-list h2 a {position: relative!important; text-transform: inherit;}
.page-list h2 a:before {visibility: hidden; display: none;}

.pages-category-more {position:absolute; top:15px; right:0;}
.pages-category-more a {position: relative;}
.pages-category-more a:hover:before {display: none; visibility: hidden; height: 0;}
.pages-category a:before {display: none;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { */
@media (max-width: 575.98px) {
	.col-xs-1 {
		-ms-flex: 0 0 8.333333%!important;
		flex: 0 0 8.333333%!important;
		max-width: 8.333333%!important;
		width: 8.333333%!important;	
	}
	
	.col-xs-4 {
		-ms-flex: 0 0 33.333333%!important;
		flex: 0 0 33.333333%!important;
		max-width: 33.333333%!important;
		width: 33.333333%!important;
	}
	
	.navbar-panel .col-xs-4:first-child { 
		-ms-flex: 0 0 30%!important;
		flex: 0 0 30%!important;
		max-width: 30%!important;
		width: 30%!important;	
	}
	
	.navbar-panel .col-xs-4:nth-child(2) { 
		-ms-flex: 0 0 40%!important;
		flex: 0 0 40%!important;
		max-width: 40%!important;
		width: 40%!important;	
	}
	.navbar-logo {padding:0!important;}
	
	.background-grid-border {left:0;}
	
	.background-grid .col-xs-1:nth-child(3),
	.background-grid .col-xs-1:nth-child(4),
	.background-grid .col-xs-1:nth-child(5),
	.background-grid .col-xs-1:nth-child(6),
	.background-grid .col-xs-1:nth-child(7),
	.background-grid .col-xs-1:nth-child(8),
	.background-grid .col-xs-1:nth-child(9),
	.background-grid .col-xs-1:nth-child(10)
	{
		flex: 0 0 10%!important;
   	    max-width: 10%!important;
        width: 10%!important;
	}
	
	.background-grid .col-xs-1:first-child, .background-grid .col-xs-1:nth-child(2) {
		flex: 0 0 5%!important;
   	    max-width: 5%!important;
        width: 5%!important;
	}
	
	.background-grid .col-xs-1:last-child, .background-grid .col-xs-1:nth-child(11) {
		flex: 0 0 5%!important;
   	    max-width: 5%!important;
        width: 5%!important;
	}
	
	.navbar-custom .custom-toggler {right:-4px!important;}
	.index-panel-seo, .index-services { width: 100%; padding-left: 16.666667%!important; padding-right: 14.666667%!important;}
	.blog-masthead {padding-right: 12.666667%!important;}
    .contact-panel-wrapper {padding-left: 16.666667%;}
	.contact-panel-img {margin-left:0!important; padding-left: 14.666667%; padding-right: 14.666667%!important;}
}

@media screen and (max-width: 480px) {	
	.navbar-logo img {width:100%;}
	.affix .navbar-logo img {width:100%;}
	#btnTopPage {right:5px;}		
	.navbar-custom {margin-top: 30px!important;}
	.navbar-custom .custom-toggler {top: -40px!important;}	

	.index-panel-seo, .index-services { width: 100%; padding-left: 10%!important; padding-right: 10%!important;}
	.index-panel-seo .custom-padding, .index-services .custom-padding, .blog-masthead .custom-padding, .contact-panel .custom-padding {padding-left:0!important;}
	.index-panel-seo-txt { height: 330px!important; background-size: auto 300px!important; background-position: center bottom!important; left:0!important;}
	.index-panel-seo h1 {left:0; font-size:30px!important;}
	.index-service {padding-top:0!important;}
	.index-service-more {top:15px!important;}
	.index-service p {font-size:14px;}

	.blog-sidebar .list-group li a h1 {font-size:30px;}
	.blog-sidebar .list-group li {padding:0 5px;}
	
	.blog-masthead { padding: 100px 10% 100px 10%!important;}		
	.blog-masthead .container-fluid {padding-left:0!important; padding-right: 0!important;}
	.blog-masthead h1, .blog-masthead-h1 {font-size:30px; margin-bottom: 0px;}
	.blog-masthead p,	
	.blog-masthead ul li,
	.blog-masthead ul li a
		{font-size:14px;}
	.blog-masthead blockquote {border-left:0;}
	.blog-masthead blockquote p {padding-left: 0;}		
	.blog-masthead p {margin-bottom:20px;}	
	.blog-masthead blockquote p {font-size:30px;}
	
	.page-list {padding-bottom: 0px; position: relative;}
	.page-list h2 {max-width:90%;}
	
	.team-list h2 {padding-right:10px;}
	.sp-oneline {display:block;}
	
	.blog-contact { padding-right: 12.666667%!important;}
	
	.contact-panel {padding-top:40px!important;}
	.contact-panel-wrapper {padding-left: 10%; background-position: center bottom;}
	.contact-panel-img {padding-left: 10%; padding-right: 10%!important; padding-top: 80px!important;margin-bottom: 0!important;padding-bottom: 60px!important; top:10px!important;}

	#footer-menu ul {width:100%; columns: 1;}
	#footer-menu ul li {padding-left:0;}	
	#footer-txt a, #footer-txt a:active {font-size: 9px; padding: 0px 4px;}
	.footer .custom-padding {padding-left:0!important;}
	#footer-txt {text-align: center;}
	.footerContainer {padding:0;}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 	
	.navbar-logo {padding:0 0 0 10px;}
	.logo-mobile {display: block; visibility: visible; height: auto;}
    .logo-desktop {display:none; visibility: hidden; height: 0;}		
	
	.navbar-custom {padding:7px 0!important; width:100%!important; margin-top: 50px!important; height:auto!important;}
	.navbar-custom .custom-toggler {position: absolute; right:0;top: -53px;}
	.dropdown-menu {display:inline; position: relative!important; text-align: center!important;}
	.dropdown-menu a {color: #c7c7c7!important;}	
	.navbar-custom .container-fluid  {height:auto!important;}
	.navbar-panel {padding-top:15px; text-align: center!important;}
	.navbar-custom .nav-item {padding-top:0!important;}			
	.btco-hover-menu .collapse ul li:hover> ul {top:0!important;}
	.navbar-collapse {background: rgba(102,103,102,0.90)!important; padding-bottom:0px; margin-top: 0px; align-items: center!important;
		-webkit-box-shadow: 0 8px 6px -6px #999;
		-moz-box-shadow: 0 8px 6px -6px #999;
		box-shadow: 0 8px 6px -6px #999;
	}
	.navbar-collapse ul li {color: #c7c7c7!important;}
    .navbar-nav .dropdown-menuvblapse ul li ul {background: none!important; text-align: center!important;}
	.navbar-dark .navbar-nav .nav-link {color:#fff!important; width:100%; display: block;}
	.navbar-dark .navbar-nav .nav-link.active {color:#fff; background: #666766!important;}
	.nav-item:hover {-webkit-box-shadow: none; -moz-box-shadow:none; box-shadow: none;}
	.nav-item:hover > ul li {background:none!important;}
	.nav-item a:before {display: none; visibility: hidden; height: 0;}
	.nav-item a:hover:before {display: none; visibility: hidden; height: 0;}
	.nav-item:hover > a {border:none;}

    .affix .navbar-logo img {margin:auto;}
	.affix .navbar-panel { padding: 15px 0px!important;} 
	.affix .navbar-custom {padding: 15px 0!important;  margin-top: 50px!important;}
    .affix .navbar-custom .custom-toggler {top: -40px!important;}
	.affix .navbar-collapse {padding-bottom: 0;}
	
	.background .col-sm-1:nth-child(10) .background-grid-border {display: block; visibility: visible;}
	.background .col-sm-1:nth-child(1) .background-grid-border,
	.background .col-sm-1:nth-child(3) .background-grid-border,
	.background .col-sm-1:nth-child(5) .background-grid-border,
	.background .col-sm-1:nth-child(7) .background-grid-border,
	.background .col-sm-1:nth-child(9) .background-grid-border
	    {display: none; visibility: hidden;}
	
	.index-panel-seo {padding: 100px 0 0 0;}
	.index-panel-seo h1 {font-size:20px;}
	.index-panel-seo-txt {height:200px; background-size: auto 200px; background-position: center bottom;}
	
	.index-services {padding: 0 0 60px 0;}
	.index-service {padding-top:30px;}
	.index-service p {padding-bottom: 0;}
	.index-service-more {position:absolute; top:45px; right:0;}
	.index-service-more a {position: relative!important;}
	.index-service-more a:before {display: none;}
	.index-services h2 {min-height: auto;}
	
	.blog-masthead {padding: 150px 0; width:100%; padding-left:16.666667%; padding-right:14.666667%;}
	.blog-masthead .grid .grid-column, .blog-masthead .grid-people .grid-column-wide, .blog-masthead .grid-people .grid-column-narrow {width:100%;}
	.blog-masthead .grid .grid-spacer, .blog-masthead .grid-people .grid-spacer {width:0%;}
	
	.blog-sidebar {padding-bottom:20px;}
	.blog-sidebar ol {display: block;}
	.blog-sidebar .list-group li:after {display:none;}
	.blog-sidebar .list-group li {display:none;}
	.blog-sidebar .list-group-item.active {display:block!important;}
	
	.page-list {position: relative;}
	
	.contact-panel-img {margin-left: 17%; /*top:60px; margin-bottom: 120px;*/ padding-top: 100px; padding-bottom: 40px;}
	.contact-panel-img img {width:100%;}
	
	#footer-txt {padding:0;}
	#footer-menu ul {padding:20px 0 0 0; width:60%; margin: auto;}
	#footer-menu ul li a {text-align: center;}	
}

/* Other devices */
@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
	.index-panel-seo-txt {background-size: auto 300px; height: 300px;}
}

/* Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For ipad portrait layouts only */	
	.nav-link {padding: 5px 1rem!important;}
	.btco-hover-menu a, .navbar > li > a {padding:0;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	#navbarCollapse .dropdown-item {text-align: center; font-size: 11px!important;}
	.affix .navbar-logo { padding: 20px 0;}
	
	.blog-masthead { padding: 170px 0 50px 0;}
	
	.blog-masthead h1 {font-size:32px;}
	.blog-masthead p {font-size:16px;}
	.blog-masthead .grid .grid-column, .blog-masthead .grid-people .grid-column-wide, .blog-masthead .grid-people .grid-column-narrow {width:100%;}
	.blog-masthead .grid .grid-spacer, .blog-masthead .grid-people .grid-spacer {width:0%;}
	
	.index-panel-seo-txt {height:300px; background-size: auto 300px; background-position: center bottom;}
	.index-services { padding: 30px 0 30px 0;}
	
	#footer-menu ul li a {text-align: center;}
}

@media (max-width: 1700px) { 
	.contact-panel-wrapper {background-size: auto 250px; height: 250px;}
}

@media (max-width: 1540px) { 
}

@media (max-width: 1400px) {
	
}

@media (max-width: 1280px) { 
	/* For Macbooks */	
	.blog-sidebar ol {display: block;}
	.blog-sidebar .list-group li:after {display:none;}
}


@media only screen and (max-width: 320px) {
	/* For iphone 5 */
}
